body {
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    background-color: #708e9d;
    color: #f5efef;
    font-size: 20px;
    
    
    
}
.emailMe {
    margin-top: 75px; 
    position: relative;
    margin-top: 10%;
    color: #fff;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 60px;
    text-decoration: underline;
}

a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #000;
}

a.engineer:hover {
    border-bottom: 5px solid #8237F3;
}

a.entrepreneur:hover {
    border-bottom: 5px solid #F3A537;
}

a.labs:hover {
    border-bottom: 5px solid #F3373B;
}

a.demeure:hover {
    border-bottom: 5px solid #008C99;
}

a.dood:hover {
    border-bottom: 5px solid #1B28E0;
}
.links {
    display: flex;
    justify-content: center;
}
.links a {
    top: 0;
    font-weight: 700;
    border-bottom: 5px solid #fff;
    position: relative;
    color: white;
    padding: 10px;
    
   
}

.links a:hover {
    -webkit-transition: bottom 3s;
}

#contents {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 25px;
    padding-left: 40px;

}

.talks #contents {
    margin-top: 10px;
    margin-bottom: 40px;
}

.talks .deck {
    width: 450px;
    margin-left: 40px;
}

#contents p {
    padding-right: 40px;

}

.about {
    font-size: 16px;
    margin: 20px 0;
    
}

.contact p a:hover {
    color: #F3373B;

}

h1 {
    font-size: 60px;
    padding-top: 5px;
    color: white;
    font-weight: 700;
    
}

div#colour {
    width: 5%;
    background-color: #F3373B;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.fade-in {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -ms-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-name: fade-in;
    -moz-animation-name: fade-in;
    -o-animation-name: fade-in;
    animation-name: fade-in;

}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slide-up {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -ms-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-name: slide-up;
    -moz-animation-name: slide-up;
    -o-animation-name: slide-up;
    animation-name: slide-up;
}

img {
    height: 30%;
    width: 20%;
    border-radius: 50%;
    background-image: no-repeat;
    background-image: cover;
}

.emailMe {
    margin-top: 75px; 
    position: relative;
    margin-top: 10%;
    color: #fff;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 40px;

}
.aboutMe {
    position: absolute;
   margin-top: -140px;
   padding-left: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px black; 

}


@media only screen and (min-width: 576px) {}
    body {    
     
    background-image: url("athensphone.jpg"); 
     background-repeat: no-repeat;
     
  }
    

  @media only screen and (min-width: 768px) {
    body {
        background-image: url("athensphone.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
    }
  }

  @media only screen and (min-width: 1024px) {
    body {
        background-image: url("athensphone.jpg"); 
      background-repeat:no-repeat;
    }
  }

  @media only screen and (min-width: 1200px) {
    body {
        background-image: url("Greece.webp"); 
      background-repeat: no-repeat;
    }
  }
  /* @media only screen and (min-width: 100000px) {
    body {
        background-image: url("Greece.webp"); 
      background-repeat: no-repeat;
    } */
  